.launchButton {
    -fx-background-color: #12225B;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-border-width: 10;
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.launchButton:hover {
    -fx-text-fill: #F2BE00;
}

.roundedRectangle {
    -fx-background-color: transparent;
    -fx-border-width: 0.5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-color: black;
}

.flashcardWord {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 40;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, #8A8A8A, 30, 0.5, 0, 0);
}

.flashcardMeaning {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 40;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, #8A8A8A, 30, 0.5, 0, 0);
}

.flashcardWord:hover {
    -fx-effect: dropshadow(gaussian, #ffb097, 30, 0.5, 0, 0);
}

.flashcardMeaning:hover {
    -fx-effect: dropshadow(gaussian, #ffb097, 30, 0.5, 0, 0);
}

.studying {
    -fx-background-color: whitesmoke;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, #FFDB93, 30, 0.5, 0, 0);
}

.challenging {
    -fx-background-color: whitesmoke;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, #8cc7fc, 30, 0.5, 0, 0);
}

.nextStudying {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-background-color: #12225B;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

.nextStudying:hover {
    -fx-text-fill: #FFDB93;
    -fx-font-weight: bold;
}

.choiceButton {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-font-size: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 0.5;
}

.choiceButton:hover {
    -fx-background-color: #E4E4E4;
    -fx-font-weight: bold;
}

.boxMatching {
    -fx-background-color: #BDD6F1;
    -fx-background-radius: 20;
}

.boxMatching:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
