@keyframes changeColor {
    0% {
        -fx-effect: dropshadow(gaussian, #ffb097, 30, 0.5, 0, 0);
    }
    20% {
        -fx-effect: dropshadow(gaussian, #019397, 30, 0.5, 0, 0);
    }
    40% {
        -fx-effect: dropshadow(gaussian, #069213, 30, 0.5, 0, 0);
    }
    60% {
        -fx-effect: dropshadow(gaussian, #643434, 30, 0.5, 0, 0);
    }
    80% {
        -fx-effect: dropshadow(gaussian, #EBF86E, 30, 0.5, 0, 0);
    }
    100% {
        -fx-effect: dropshadow(gaussian, #F96DF2, 30, 0.5, 0, 0);
    }
}

.flashcard {
    -fx-background-color: whitesmoke;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, #ffb097, 30, 0.5, 0, 0);
    animation: changeColor 3s infinite;
}