.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 1px 0px;
}

.text-field:hover{
    -fx-background-color: #F2F2F2;

}

.button{
    -fx-background-color: #0070C0;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #008AF2;
}