.container {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.usernameButton {
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.usernameButton:hover {
    -fx-text-fill: brown;
    -fx-font-weight: bold;
    -fx-background-color: rgb(240, 240, 240); // 0 102 204
}

.usernameAP {
    -fx-background-color: white;
}

.menuButton {
    -fx-background-color: white;
}

.menuButton:hover {
    -fx-background-color: darkgray;
}

.indexLabel {
    -fx-text-fill: rgb(0, 102, 204);
}

.bar {
    -fx-border-color: transparent;
}

.menuIconButton {
    -fx-background-color: transparent;
}

.menuIconButton:hover {
    -fx-background-color: lightgrey;
}

.menuTextButton {
    -fx-background-color: transparent;
}

.menuTextButton:hover {
    -fx-text-fill: rgb(0, 102, 204);
}

.menuBackground {
    -fx-background-color: white;
}

.showMenuButton {
    -fx-background-color: transparent;
}

.showMenuButton:hover {
    -fx-background-color: darkgray;
}

.signOutButton {
    -fx-background-color: rgb(0, 102, 204);
    -fx-text-fill: white;
}

.signOutButton:hover {
    -fx-background-color: #F54949;
    -fx-font-weight: bold;
}

.deleteSavedWordButton {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
}

.deleteSavedWordButton:hover {
    -fx-background-color: tomato;
}

.dateAddedButton {
    -fx-background-color: transparent;
}

.dateAddedButton:hover {
    -fx-background-color: lightgrey;
}

.text-field{
    -fx-background-color: white;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 0px 0px;
}

.text-field:hover{
    -fx-background-color: #F2F2F2;
}

.translate-field{
    -fx-background-color: #D9D9D9;
    -fx-border-color: #000000;
    -fx-border-width: 0.5px 0.5px 0.5px 0.5px;
}

.translate-area .content:hover{
    -fx-background-color: #F2F2F2;
    -fx-border-width: 1px 1px 1px 1px;
}

.selectLanguageButton {

    -fx-background-color: #1D2A57;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 1;
}

.selectLanguageButton:hover {
    -fx-background-color: #334999;
}

.defineword-field{
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 1px 0px;
}

.defineword-field:hover{
    -fx-background-color: #F2F2F2;
}

.worddetail-field{
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0.5px 0.5px 0.5px 0.5px;
}

.worddetail-field:hover{
    -fx-background-color: #F2F2F2;
    -fx-border-color: #000000;
    -fx-border-width: 1px 1px 1px 1px;
}

.text-area .content {
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0.5px 0.5px 0.5px 0.5px;
}

.text-area .content:hover {
    -fx-background-color: #F2F2F2;
    -fx-border-color: #000000;
    -fx-border-width: 1px 1px 1px 1px;
}

.savebutton{
    -fx-background-color: #0070C0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.savebutton:hover{
    -fx-background-color: #008AF2;
}

.discardbutton{
    -fx-background-color: #C00000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.discardbutton:hover{
    -fx-background-color: #F20000;
}
